<ion-header>
  <ion-toolbar>
    <ion-title>
      Pesquisa
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header>
      Tipos de denúncia
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="pesquisaForm">
        <ion-item formArrayName="tipos" *ngFor="let tipo of pesquisaForm.controls.tipos.controls; let i = index">
          <ion-label>
            {{tipos[i].nome}}
          </ion-label>
          <ion-checkbox checked="true" [formControlName]="i"></ion-checkbox>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Status da denúncia
    </ion-card-header>
    <ion-card-content>
      <ion-list radio-group [(ngModel)]="statusDenuncia">

        <ion-item>
          <ion-label>Abertas</ion-label>
          <ion-radio value="1" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Fechadas</ion-label>
          <ion-radio value="2"></ion-radio>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>
  <button ion-button full margin-top (click)="submit()">FILTRAR</button>

</ion-content>