.error {
  .toast-container {
    background: #bd3737;
  }
}
.sucesso {
  .toast-container {
    background: #37bd7e;
  }
}
a:link, a {
  text-decoration: none;
  color: #7fbafc;
  font-weight: 500;
}

