<ion-list>
  <ion-item>
    <ion-label>Qual setor?</ion-label>
    <ion-select [(ngModel)]="setor" (ionChange)="selectSetor()" cancelText="Cancelar">
      <ion-option value="educacao">Educação</ion-option>
      <ion-option value="infraestrutura">Infraestrutura</ion-option>
      <ion-option value="meio-ambiente">Meio ambiente</ion-option>
      <ion-option value="saude">Saúde</ion-option>
      <ion-option value="outro">Outro</ion-option>
    </ion-select>
  </ion-item>
</ion-list>