<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title text-center>Seja bem vindo</ion-title>
      <ion-title text-center>{{ user.name }}!</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-item menuClose *ngFor="let pagina of paginas" (click)="abrirPagina(pagina)">
        <ion-icon item-start [name]="pagina.icone"></ion-icon>
        {{ pagina.titulo }}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- main navigation -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>