<button float-right ion-button icon-only [style.color]="isLocked ? '#337ab7' : 'black'" (click)="pegarPosicao()">
  <ion-icon md="md-locate" ios="ios-locate-outline"></ion-icon>
</button>
<button float-right ion-button icon-only (click)="pesquisa()">
  <ion-icon name="search"></ion-icon>
</button>
<button float-right ion-button icon-only id="btnDenuncia" (click)="criarDenuncia()">
  <ion-icon name="warning"></ion-icon>
</button>