mapa-botao {
    [ion-button] {
        z-index: 6;
        display: block;
        margin: 0.8rem;
        background-color: #FFF;
        color: #000;
        opacity: 0.70;
        font-size: 1.3rem
    }
    #btnDenuncia {
        color: #bd3737 !important;
    }
}
