page-registro {
      ion-label {
        font-weight: 500;
      }
      ion-item {
        padding: 0 !important;
    }
    span {
        font-weight: 500;
    }
    a:link, a {
        text-decoration: none;
        color: #7fbafc;
        font-weight: 500;
    }
    [margem] {
        margin-top: 20% !important;
    }
    .list-ios > .item-block:first-child {
        border-top: 0;
    }
    .list-ios, .label-md {
        margin: 0;
    }
}
