<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Registro</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="no-scroll">
  <h4>Preencha os dados abaixo e crie sua conta!</h4>
  <form [formGroup]="registro" (ngSubmit)="onRegistro()">
    <ion-list margem>
      <ion-item>
        <ion-label stacked>Nome completo</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-item margin-top>
        <ion-label stacked >E-mail</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item margin-top>
        <ion-label stacked>Senha</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button full margin-top type="submit" [disabled]="!registro.valid">REGISTRAR</button>
  </form>
</ion-content>