<clr-datagrid [(clrDgSingleSelected)]="denunciaSelecionada" [clDgRowSelection]="true">
  <clr-dg-placeholder>Sem denuncias cadastradas!</clr-dg-placeholder>
  <clr-dg-column [clrDgField]="'id'" [clrDgSortOrder]="descSort">id</clr-dg-column>
  <clr-dg-column [clrDgField]="'autor'">Autor</clr-dg-column>
  <clr-dg-column [clrDgField]="'titulo'">Titulo</clr-dg-column>
  <clr-dg-column [clrDgField]="'tipoDenuncia'">Tipo Denúncia</clr-dg-column>
  <clr-dg-row *clrDgItems="let denuncia of denuncias" [clrDgItem]="denuncia" (dblclick)="onEdit()">
    <clr-dg-cell>{{ denuncia.id }}</clr-dg-cell>
    <clr-dg-cell>{{ denuncia.autor.nome }}</clr-dg-cell>
    <clr-dg-cell>{{ denuncia.titulo }}</clr-dg-cell>
    <clr-dg-cell>{{ denuncia.tipoDenuncia }}</clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} de {{pagination.totalItems}} Denuncias
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<clr-modal *ngIf="basic" [(clrModalOpen)]="basic" [clrModalSize]="'lg'">
  <h3 class="modal-title">{{denunciaSelecionada['titulo']}}</h3>
  <div class="modal-body">
    <div class="clr-col-sm-10 clr-col-md-10">
      <h4>{{descricaoEncoded}}</h4>
      <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(denunciaSelecionada['foto'])" />
    </div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-success" (click)="aprovar()">Aprovar</button>
      <button class="btn btn-danger" (click)="rejeitar()">Rejeitar</button>    
  </div>
</clr-modal>