img, h4 {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    line-height: 1.1rem;
}
h3{
    font-weight: 500;
}
.modal-footer{
    padding-right: 10%;
}