<header class="header-4">
  <div class="branding">
    <a routerLink="/dashboard" class="nav-link">
      <span class="title">Ferramenta Administrativa</span>
    </a>
  </div>
</header>
<div class="main-container">
  <div class="content-container">
    <div class="content-area">
      <header class="header-6">
        <div class="header-nav">
          <a class="active nav-link nav-text">{{ title }}</a>
        </div>
      </header>
      <div class="row flex-items-xs-center">
        <div class="col-xs-11	col-sm-11	col-md-11	col-lg-11	col-xl-11">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
      <a clrVerticalNavLink *ngFor="let p of options" [routerLink]="p.link" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon [attr.shape]="p.icon" class="is-solid"></clr-icon>
        <span class="nav-text">{{ p.title }}</span>
      </a>
    </clr-vertical-nav>
  </div>
</div>