<ion-tabs [selectedIndex]="myIndex">
  <ion-tab [root]="denunciaRoot" tabTitle="" tabIcon="globe"></ion-tab>
  <ion-tab [root]="estatisticasRoot" tabTitle="" tabIcon="stats"></ion-tab>
  <ion-tab [root]="anuncioRoot" tabTitle="" tabIcon="megaphone"></ion-tab>
</ion-tabs>
