<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Login</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding class="no-scroll">
    <form [formGroup]="login" (ngSubmit)="onLogin()">
        <ion-list>
            <ion-item>
                <ion-label stacked>E-mail</ion-label>
                <ion-input type="email" formControlName="email"></ion-input>
            </ion-item>
            <ion-item margin-top>
                <ion-label stacked>Senha</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
        </ion-list>
        <button ion-button full margin-top type="submit" [disabled]="!login.valid">LOGAR</button>
    </form>
    <div text-center id="options">
        <a>Esqueci minha senha!</a>
    </div>
</ion-content>