page-ajudai-login {
    ion-label {
        font-weight: 500;
    }
    ion-item {
        padding: 0 !important;
    }
    span {
        font-weight: 500;
    }
    #options {
        margin-top: 5%;
    }
}
