<ion-header>
  <ion-toolbar>
    <ion-title>
      Criar uma denuncia
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-card>
        <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(denuncia['foto'])" />
      </ion-card>
    </ion-row>

    <form [formGroup]="denunciaForm" (ngSubmit)="onDenuncia()">
      <ion-list>
        <ion-item>
          <ion-label stacked>Título</ion-label>
          <ion-input type="text" formControlName="titulo" maxlength=35></ion-input>
        </ion-item>
        <ion-item id="text-area">
          <ion-label stacked>Descrição</ion-label>
          <ion-textarea [(ngModel)]="descricao" formControlName="descricao" autosize maxlength="300" scrollY="true"></ion-textarea>
        </ion-item>
        <ion-item no-border-bottom>
          <ion-label id="contador">Caracteres restantes: {{ 300 - descricao.length }}</ion-label>
        </ion-item>
      </ion-list>
      <denuncia-lista></denuncia-lista>
      <button ion-button full margin-top type="submit" [disabled]="!denunciaForm.valid">DENUNCIAR</button>
    </form>
  </ion-grid>
</ion-content>