page-criar-denuncia {
    textarea {
        margin: 0;
        width: 100%;
    }
    ion-item {
        padding: 0 !important;
    }
    ion-card {
        width: 100% !important;
        margin: 5px 0 !important;
    }    
    ion-list {
        margin: 0 !important;
    }    
    [no-border-bottom] {
        > .item-inner{
            border-bottom: none !important;
        }
    }
    .list-ios > .item-block:last-child, .list-ios > .item-block:first-child, .list-ios > .item-block:first-child {
        border-bottom: none; 
        border-top: none;
    }
    #text-area {
        margin: 0 !important;
        padding: 0 !important;
    }
    #contador {
        margin: 0;
        text-align: right;
        font-size: 1.2rem;    
        color: #999;
        margin-top: -1.5rem;
        border-bottom: none; 
    }
}
