<ion-content padding class="no-scroll">
  <div text-center>
    <img src="./assets/imgs/logo.png" />
  </div>
  <autenticador-facebook></autenticador-facebook>
  <autenticador-google></autenticador-google>
  <div text-center>
    <a (click)="onRegistro()">Ou cadastre-se com seu e-mail</a>
  </div>
  <div text-center margin-top>
    Já possui uma conta? <a (click)="onLogin()">Entre!</a>
  </div>
</ion-content>