page-login {
  div{
    img{
      margin-top: 40%;
      margin-bottom: 15%;
      width: 80%;
    }
  }
  [margin-top] {
    margin-top: 10% !important;
  }    
  .list-ios > .item-block:first-child {
    border-top: 0;
  }
  .list-ios, .label-md {
    margin: 0;
  }
  #options {
    margin-top: 1.2rem;
  }
}
