page-detalhes-denuncia {
    ion-card {
        width: 100% !important;
        margin: 5px 0 !important;
    }
    ion-content {
        padding: 5px 16px !important;
    }
    ion-item {
        padding-left: 5px !important;
    }
    ion-chip {
        position: absolute;
        margin-top: 3% !important;
        right: 7%;        
    }
    .descricao {
        font-size: 18px;
        line-height: 22px;        
    }
    #footer {
        padding-top: 2px !important;
        font-size: 12px;
        color: #656565 !important;
        font-weight: 400;
    }
    #infraestrutura {
        background-color: rgba($color: #f9f900, $alpha: 0.6);
        ion-icon {
            background-color: #b9b901;
        }
    }
    #saude {
        background-color: rgba($color: #f90000, $alpha: 0.45);
        ion-icon {
            background-color: #d21818;
        }
    }
    #educacao {
        background-color: rgba($color: #006ff9, $alpha: 0.45);
        ion-icon {
            background-color: #0b29bf;
        }
    }
    #meio-ambiente {
        background-color: rgba($color: #5dfb36, $alpha: 0.45);
        ion-icon {
            background-color: #34a757;
        }
    } 
    #outro {
        background-color: rgba($color: #9436fb, $alpha: 0.45);
        ion-icon {
            background-color: #5b34a7;
        }
    }         
}


