<ion-header>

  <ion-navbar>
    <ion-title>{{denuncia.titulo}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-item>
      <h2>{{autor.nome}}</h2>
      <p>{{localDate}}</p>
    </ion-item>
    <ion-chip [attr.id]="denuncia.tipoDenuncia">
      <ion-icon name="pin"></ion-icon>
      <ion-label>{{getTipoDenuncia(denuncia.tipoDenuncia)}}</ion-label>
    </ion-chip>
    <ion-row>
      <ion-col class="descricao" col-12 col-sm>
        {{descricaoDecoded}}
      </ion-col>
      <ion-card>
        <img [src]="_DomSanitizationService.bypassSecurityTrustUrl(denuncia['foto'])" />
      </ion-card>
    </ion-row>
    <button button ion-button full [disabled]="!minhaDenuncia" (click)="atualizarDenuncia()">Finalizar Denúncia</button>
  </ion-grid>
</ion-content>