mapa {
    .toolbar-background {
        background-color: transparent;
    }
    ion-header {
        z-index: 5;
    }
    .fixed-content, .scroll-content {
        margin-top: 0 !important;
    }
    .card-md, .card-ios {
        position: absolute;
        z-index: 1;
        margin: 30% 10px 10px 10px;
    }

    .toast-md .toast-wrapper{
        background: #c11010 !important;
    }

    #map {
        height:100%;
        width:100%;       
        background: cornsilk; 
    }
}
