page-denuncia {
  .toolbar-background {
    background-color: transparent;
  }
  ion-header {
    z-index: 5;
  }
  .fixed-content, .scroll-content {
    margin-top: 0 !important;
  }
  .card-md, .card-ios {
    position: absolute;
    z-index: 1;
    margin: 30% 10px 10px 10px;
  }
  [menutoggle] {
    color: #424242 !important;
  }
}