<ion-header no-border>
  <ion-navbar color="nav-color">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<mapa-botao></mapa-botao>
<ion-content class="no-scroll">
  <mapa></mapa>
</ion-content>